@font-face {
  font-family: 'iconfont';  /* project id 1911900 */
  src: url('//at.alicdn.com/t/font_1911900_itxgd1nwemq.eot');
  src: url('//at.alicdn.com/t/font_1911900_itxgd1nwemq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1911900_itxgd1nwemq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1911900_itxgd1nwemq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1911900_itxgd1nwemq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1911900_itxgd1nwemq.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



