@font-face {
  font-family: 'iconfont';  /* project id 1911900 */
  src: url('//at.alicdn.com/t/font_1911900_yp5gdcvpusk.eot');
  src: url('//at.alicdn.com/t/font_1911900_yp5gdcvpusk.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1911900_yp5gdcvpusk.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1911900_yp5gdcvpusk.woff') format('woff'),
  url('//at.alicdn.com/t/font_1911900_yp5gdcvpusk.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1911900_yp5gdcvpusk.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



